.footer {
    
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    background-color: #00000043;
   /* background-image: url('../../assets/img/footer-bg.png'); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .footer p {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
  
.link{
  color: #8146FF;
  text-decoration: none;
}

.link:hover{

  color: #c5c5c5;
}